@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  background-color: #020204;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
}

.title {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.7s ease;
}

.btn-main {
  background-color: #C7A17A;
}

.btn-main:hover {
  background-color: #ca8d51;
}

.btn-secondary {
  border: 1px solid #666681;
}

.btn-secondary:hover {
  background-color: #666681;
}

/*header*/
.header {
  border-bottom: 1px solid #32323D;
}

.header__line {
  border-bottom: 1px solid #32323D;
}

.header__line-wrapper {
  color: #fff;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__lng {
  display: flex;
}

.header__lng a {
  margin: 0px 10px 0px 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: 14px;
}

.header__lng a.active {
  color: #C7A17A;
}

.header__phone {
  font-weight: 600;
  font-style: 14px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__block {
  width: 40%;
}

.header__block.right {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
}

.nav__link {
  margin-right: 35px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.nav__link:hover {
  color: #C7A17A;
}

.nav__link.active {
  color: #C7A17A;
}

.logo {
  margin: 0 auto;
}

.logo img {
  height: 54px;
}

.nav-footer {
  flex-direction: column;
  align-items: start;
}

.nav-footer .nav__link {
  margin-right: 0;
  margin-bottom: 20px;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__link {
  margin-right: 30px;
  position: relative;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link-event {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #C7A17A;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}

/*header*/
/*intro*/
.intro {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 60px;
}

.intro::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(2, 2, 4, 0.55);
}

.intro__wrapper {
  padding: 20px 0;
  min-height: 720px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.intro__block {
  max-width: 565px;
}

.intro__title {
  margin: 0px 0px 30px 0px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
}

.intro__text {
  font-size: 18px;
  color: #DFDFDF;
  margin: 0px 0px 35px 0px;
}

.intro__actions {
  display: flex;
}

.intro__actions .btn-main {
  margin-right: 20px;
}

.info__block {
  margin-bottom: 80px;
  display: flex;
  border-radius: 10px;
  background: #14141D;
}

.info__img-wrapper {
  position: relative;
}

.info__img-wrapper::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.info__img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__item {
  padding: 30px;
}

.info__title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1;
}

.info__text {
  max-width: 500px;
  color: #DFDFDF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
}

/*intro*/
/*products*/
.block__title {
  margin: 0px 0px 40px 0px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 60px;
}

.products__block {
  width: 33%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.products__item {
  display: block;
  border-radius: 10px;
  padding: 20px;
  background-color: #14141D;
  transition: background-color 0.3s ease;
}

.products__item:hover {
  background-color: #22222f;
}

.products__image {
  max-width: 100px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.products__title {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}

.products__futter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__price {
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
}

.products__price del {
  margin-left: 30px;
  color: #818181;
}

.products__favorite {
  background: none;
  padding: 0;
  cursor: pointer;
  border: 0;
}

/*products*/
/*News*/
.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 60px;
}

.news__block {
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.news__item {
  border-radius: 10px;
  min-height: 100%;
  display: block;
  background-color: #14141D;
  transition: background-color 0.3s ease;
}

.products__item:hover {
  background-color: #22222f;
}

.news__image {
  border-top-right-radius: 10px;
  border-top-le–∞t-radius: 10px;
  height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__content {
  padding: 20px;
}

.news__title {
  margin: 0px 0px 10px 0px;
}

.news__text {
  margin: 0;
  color: #DFDFDF;
}

/*News*/
/*footer*/
.footer {
  border-top: 2px solid #14141D;
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer__wrapper {
  display: flex;
  margin: 0 -10px;
}

.footer__block {
  width: 33.33%;
  padding: 0 -10px;
}

/*footer*/